.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

demo-simple-select-helper{
  justify-content: center;
}

.App-link {
  color: #61dafb;
}
/* a select list placed in the top right corner of the screen */
.select-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo{
  display:none;
}
.img-logo{
  display:none;
  width: 100%;
  height:13vh;
}
.date-customer-container{
  margin-left: 2rem;
}
.date{
  font-weight: bolder;
  display:none;
}

.cart-row{
  height: 0.5rem;

}




@media print {
  .logo{
    display: flex;
    width: 50%;
  }
  .img-logo{
    display: inline;
  }
  .date{
    
  display:inline;
  }
}